/* taustavärit vaan alkuun selkeyttämään */
body {
    background-color: whitesmoke;
}

main {
    background-color: white;
}

footer {
    background-color: lightgrey;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
